/* Basic page styling. */
body {
    font-family: sans-serif;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    max-width: 60rem;
    margin: 0 auto;
    line-height: 1.75;
    tab-size: 4;
    color: #345;
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1.25rem;
    color: #345;
}

h1,h2,h3,h4,h5,h6 {
    margin-bottom: .5rem;
    margin-top: 1rem;
    line-height: 1.25;
    color: #345;
}

ul {
    padding-left: 1.625rem;
    margin: 1rem 0;
    color: #345;
}

li {
    padding-left: .375rem;
    margin: .5rem 0;
    color: #345;
}

img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #abc;
}

button {
    padding: .5rem;
    font-size: 1rem;
    text-transform: capitalize;
}

button:enabled {
    cursor: pointer;
}

input, select {
    display: block;
    margin-bottom: .75rem;
    padding: .5rem;
    font-size: 1rem;
}

/* Main content area. */
main {
    flex: 1;
    background-color: #fff;
    padding: .75rem;
    overflow-x: auto;
}

/* Footer and Navigation. */
footer, nav {
    flex: 1;
    flex-basis: 100%;
}

figcaption {
    overflow-x: scroll;
}

nav {
    position: sticky; top: 0;
    background-color: #fff;
    padding: .75rem;
    border-bottom: 1px solid #abc;
}

hr {
    width: 100%;
}

/* Sidebar styling. */
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #fff;
    padding: .75rem;
}

/* Hide sidebar when hidden class is applied. */
aside.hidden {
    display: none;
}

aside {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 60rem;
    margin: 0 auto;
}

/* Fixed sidebar for mobile. */
/* @media only screen and (max-width: 600px) {
    aside {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
} */

.navbar {
    display: flex;
    align-items: center;
}

/* Navbar title. */
.navbar-title {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-right: auto;
}

/* Generic card styling. */
.card {
    border-top: 1px solid #abc;
    background-color: #fff;
    padding: .75rem;
}